Library
Logs
obj
Temp
Assets/AssetBundles
Assets/AssetBundles.meta
Assets/Resources/TemporalPrototypes/*
Assets/Scenes/TemporalScenes/*
Builds

.vs
.idea/
/[Aa]ssets/Plugins/Editor/JetBrains*

*.csproj
*.sln
*~
/Packages/vivian-example-prototypes/Resources/Cubes/object_summary.json
/Packages/vivian-example-prototypes/Resources/Cubes/object_summary.json.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_back.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_back.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_bottom.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_bottom.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_front.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_front.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_iso_top_left.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_iso_top_left.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_iso_top_right.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_iso_top_right.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_left.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_left.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_right.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_right.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_top.png
/Packages/vivian-example-prototypes/Resources/Cubes/views/toaster3_top.png.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views.meta
/Packages/vivian-example-prototypes/Resources/Cubes/views_manifest.json
/Packages/vivian-example-prototypes/Resources/Cubes/views_manifest.json.meta
